services:

  unpiguard:
    build: .
    container_name: unpiguard
    cap_add:
      - NET_ADMIN
    devices:
      - "/dev/net/tun:/dev/net/tun"
    sysctls:
      net.ipv4.ip_forward: "1"
    volumes:
      - ./config:/config
    environment:
      - PIHOLE_INTERFACE=wg0
      - WG_INTERFACE_NAME=wg0
      - WG_SERVER_ADDRESS=10.66.66.1/24
      - WG_LISTEN_PORT=51820
      - WG_ENDPOINT=<YOURVPSIP>:51820
      - WG_PEER_NAME=peer1
      - WG_PEER_ADDRESS=10.66.66.2/32
      - WG_ALLOWED_IPS=0.0.0.0/0, ::/0
      - WG_PERSISTENT_KEEPALIVE=25
    ports:
      - "51820:51820/udp" #only open this port on the vps firewall
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
      - "443:443/tcp"
    restart: unless-stopped
